<div class="page-header">
  <div class="govuk-width-container">
    <%= govuk_phase_banner(tag: { text: "Beta" }) do %>This is a new service. Help us improve it and 
      <%= govuk_link_to("give your feedback", new_feedback_path) %>.
    <% end %>

    <%= render "shared/breadcrumbs" %>
  </div>
</div>
<div class="image-header__container">
  <div class="image-header">
    <h1 class="govuk-heading-xl heading--yellow"><%= @front_matter.dig(:page_header, :title) %></h1>

    <% if @front_matter.dig(:page_header, :image) %>
      <%= image_tag @front_matter.dig(:page_header, :image, :path), alt: @front_matter.dig(:page_header, :image, :alt) %>
    <% end %>
  </div>
</div>
