<table class="govuk-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col"></th>
    <th class="govuk-table__header" scope="col">Area of the website</th>
    <th class="govuk-table__header" scope="col">Name</th>
    <th class="govuk-table__header" scope="col">Email</th>
    <th class="govuk-table__header" scope="col">Created at</th>
  </tr>
  </thead>

  <tbody class="govuk-table__body">
  <% @support_requests.each do |support_request| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" onclick="<%= dom_id(support_request) %>.showModal()">Problem</a>
      </td>
      <td class="govuk-table__cell">
        <% if support_request.specific_page? %>
          <%= govuk_link_to(URI(support_request.area_of_website_url).path, support_request.area_of_website_url, target: "_blank", new_tab: true) %>
        <% else %>
          The whole site
        <% end %>
      </td>
      <td class="govuk-table__cell"><%= support_request.name %></td>
      <td class="govuk-table__cell"><%= support_request.email %></td>
      <td class="govuk-table__cell"><%= support_request.created_at.to_formatted_s(:short) %></td>
    </tr>

    <%= render "shared/modal", object: support_request do %>
      <h3><%= support_request.created_at.to_formatted_s(:short) %></h3>
      <p><%= support_request.problem %></p>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= govuk_pagination(pagy: @pagy) %>
