<!DOCTYPE html>
<html lang="en" class="govuk-template--rebranded">
  <head>
    <title><%= [yield(:page_title).presence, t('service.name')].compact.join(' - ') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <meta name="robots" content="noindex">

    <%= render "shared/metatags" %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= favicon_link_tag asset_path('govuk-icon-mask.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b1c0c" %>
    <%= favicon_link_tag asset_path('govuk-icon-180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= render "shared/analytics/ga_head" %>
    <%= render "shared/analytics/clarity" %> 
  </head>

  <body class="govuk-template__body">
    <%= render "shared/analytics/ga_body" %>
    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <%= govuk_skip_link %>
    <%= render "shared/cookie_banner" %>
    <%= render "shared/header" %>
    <%= render "shared/nav" %>


    <%= yield(:content) %>

    <div class="govuk-width-container govuk-!-margin-top-5 govuk-!-margin-bottom-5">
      <%= render "page_feedback/form" %>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
